<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Streaming Media</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body class="layout">
    <nav class="header">
      <img class="header__image" src="images/logo.svg" alt="Streaming Media">
    </nav>
    <div class="spacer"></div>

    <%- include('partials/mainCarouselList.ejs', { data: mainCarousel }) %>

    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.action %></h2>
        <%- include('partials/subCarouselList.ejs', { data: action, titles: titles }) %>
      </div>
    </div>
    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.drama %></h2>
        <%- include('partials/subCarouselList.ejs', { data: drama }) %>
      </div>
    </div>
    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.thriller %></h2>
        <%- include('partials/subCarouselList.ejs', { data: thriller }) %>
      </div>
    </div>
    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.scienceFiction %></h2>
        <%- include('partials/subCarouselList.ejs', { data: science, titles: titles }) %>
      </div>
    </div>
    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.comedy %></h2>
        <%- include('partials/subCarouselList.ejs', { data: comedy }) %>
      </div>
    </div>
    <div class="row">
      <div class="column-12">
        <h2 class="genre-header"><%= titles.doc %></h2>
        <%- include('partials/subCarouselList.ejs', { data: documentary }) %>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="index.min.js"></script>
    <script type="text/javascript" src="../javascript/index.js"></script>
  </body>
</html>
